<h1>レトロリロン　管理サイト</h1>
<a class="link" target="_blank" rel="noopener noreferrer" href="https://rails-admin-s3-v1.herokuapp.com/admin">管理ページへ</a>
<a class="link" target="_blank" rel="noopener noreferrer" href="https://retroriron.com">サイトへ</a>