<h1>レトロリロン　管理サイト</h1>
<a class="link" target="_blank" rel="noopener noreferrer" href="https://rails-admin-s3-v1.herokuapp.com/admin">管理ページへ</a>
<a class="link" target="_blank" rel="noopener noreferrer" href="https://retroriron.com">サイトへ</a>
<a class="link" target="_blank" rel="noopener noreferrer" href="https://docs.google.com/document/d/1o7VRrm-LLae4qBxpeiA28FvlU8bRjuf2GlwOr76cx-k/edit?usp=sharing">説明書</a>